.registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fff; /* Ganti dengan warna latar belakang yang Anda inginkan */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* text-align: left; Tambahkan ini untuk mengatur teks ke kiri */
}

.registration-box {
  border-radius: 5px;
  padding: 40px;
  width: 400px;
  text-align: left; /* Tambahkan ini untuk mengatur teks ke kiri */
  color: #333; /* Ganti dengan warna teks yang Anda inginkan */  
}

.registration-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #2B3674; /* Ganti dengan warna teks yang Anda inginkan */
  text-align: left; /* Tambahkan ini untuk mengatur teks ke kiri */
}

.sign-p {
  color: var(--secondary-grey-600, #A3AED0); /* Ganti dengan warna teks yang Anda inginkan */
  margin-bottom: 20px;
  text-align: left; /* Tambahkan ini untuk mengatur teks ke kiri */
}

.registration-button {
  background-color: #4318FF;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 24px;
  cursor: pointer;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
}

.registration-button:hover {
  background-color: #0056b3; /* Ganti dengan warna latar belakang saat tombol dihover */
}

.signup-link {
  text-align: left;
  margin-top: 20px;
  font-size: 16px;
}

.create {
  color: #4318FF; /* Ganti dengan warna teks yang Anda inginkan */
  font-weight: 600;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

.form-input {
  width: 100%;
  padding: 13px;
  border-radius: 15px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.7); /* Atur tingkat transparansi di sini */
  border: 1px solid black;
  color: black;
  margin-top: 10px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.form-group input {
  border: 1px solid #A3AED0
}

.transparent-border {
  border: none;
}

.checkbox-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.checkbox-input {
  margin-right: 8px;
}

.forget {
  font-size: 14px;
}


.registration-button:hover {
  background-color: #2b3674;
}

.error-message {
  color: #ff0000;
  font-size: 14px;
  margin-top: 10px;
}

.signin-link {
  margin-top: 20px;
  font-size: 14px;
}

.create {
  font-weight: 600;
  margin-left: 5px;
}